<div class="container">
  <div class="row">
    
    <table class="table table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">ردیف</th>
          <th scope="col">نام گروه</th>
          <th scope="col">تعداد اعضاء</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>مشتریان</td>
          <td>1200</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>دستگاه</td>
          <td>500</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
