@font-face {
  font-family: "titles";
  src: url(../../assets/Fonts/IRANSans/IRANSans.ttf);
}

@font-face {
  font-family: "userWrite";
  src: url(../../assets/Fonts/iranyekan/IRANYekanRegular.ttf);
}

fieldset {
  height: auto;
  border: 1px solid gray;
  padding: 0 30px 30px 30px;
  text-align: right;
  box-shadow: 0 1px 2.5px 0 gray;
  position: relative;
  user-select: none !important;
}

header {
  margin: 0 0 20px 0 !important;
  width: 100% !important;
  position: absolute;
  left: 0px;
  height: 100px;
  padding: 25px 0 0 0;
  text-align: center;
  background-image: linear-gradient(30deg, #ffd46e, #fb6662);
}

label {
  font-family: "titles";
}

div.space {
  width: auto;
  height: 135px;
}

img {
  width: 100px;
  height: 100px;
}

input {
  font-family: "userWrite";
  padding: 0 50px 0 10px !important;
  background: rgba(128, 127, 127, 0.1);
}

input:focus {
  background: unset !important;
  border: skyblue !important;
  box-shadow: 0px 0px 2.5px 2px skyblue !important;
}

input:hover {
  background: rgba(128, 127, 127, 0.3);
}

.icons {
  width: 18px;
  height: 22px;
  opacity: 0.6;
  right: 18px;
  position: relative;
}

.deviceSerialNum {
  top: 41px;
}

.deviceMac {
  width: 27px;
  height: 28px;
  right: 16px;
  top: 40px;
}

button.btn-custome {
  background-image: linear-gradient(30deg, #ffd46e, #fb6662);
  color: white;
  font-size: 19px;
  font-family: "titles";
  box-shadow: 0px 2px 5px 2px rgba(119, 119, 119, 0.2);
  margin: 30px auto 0px auto !important;
}

button.btn-custome:hover {
  box-shadow: 0px 3px 5px 3px rgba(70, 70, 70, 0.3);
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid rgba(255, 0, 0, 0.5);
  box-shadow: 0px 0px 2.5px 2px rgba(255, 0, 0, 0.5);
}

input.ng-invalid.ng-touched:focus,
select.ng-invalid.ng-touched:focus {
  border: skyblue !important;
  box-shadow: 0px 0px 2.5px 2px skyblue !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (min-width:768px) {
  form {
    margin: 0 auto;
  }

  fieldset {
    width: 370px;
    margin: 40px auto 30px auto;
  }
}

@media only screen and (max-width:768px) {
  form {
    padding: 0 !important;
  }

  fieldset {
    padding: 0 10px 0 10px;
    border: none;
    box-shadow: unset !important;
  }

  header {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .form-group {
    padding: 0 15px;
  }
}
